
<div class="col-sm-12 my-3">
    <p class="bus">Bus Collection</p>
    <div class="card shadow bg-white" style="width: 25rem;">
      <img
        src="../../../assets/images/bus1.jpg" style="height: 150px;"
       class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-2 shadow bg-white" style="width: 25rem;">
      <img src="../../../assets/images/bus2.png" class="card-img-top" style="height: 150px;"
      alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-2 shadow bg-white" style="width: 25rem;">
      <img src="../../../assets/images/bus3.jpg" class="card-img-top" style="height: 180px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
      </div>
    </div>
  </div>