
<div class=" my-3">
    <p class="bike">Bike Collection</p>
    <div class="card shadow bg-white" style="width: 25rem;">
        <img src="../../../assets/images/bike1.jpg"
        class="card-img-top" alt="..." style="height: 150px;" >
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card mt-2 shadow bg-white" style="width: 25rem;">
        <img src="../../../assets/images/bike2.webp" style="height: 150px;"
        class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card mt-2 shadow bg-white" style="width: 25rem;">
        <img src="../../../assets/images/bike3.jpg " style="height: 170px;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
        </div>
    </div>
</div>
