
<div class="col-sm-12 my-3">
    <p class="car">Car Collection</p>
    <div class="card  shadow  bg-white " style="width: 25rem;">
      <img src="../../../assets/images/car3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-2  shadow  bg-white " style="width: 25rem;">
      <img
        src="../../../assets/images/car-1.webp"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-2 shadow  bg-white" style="width: 25rem;">
      <img src="../../../assets/images/car2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-block btn-outline-primary">Go somewhere</a>
      </div>
    </div>
  </div>